.container{
    display: flex;
    flex-direction: column;
}

.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.listItem{
    display: flex;
    flex-direction: row;
    gap: 20px;
}