.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 100%, rgba(255, 255, 255, 0.2) 100%), url('../../assets/images/main.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
}

.title {
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 50px;
    filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.386));
    color: black;
    text-transform: uppercase;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 20px;
}

.allGoodsLink {
    display: block;
    padding: 5px;
    margin: 30px 35%;
    text-align: center;
    border: 1px solid black;
    font-weight: 700;
}

@media screen and (max-width: 1440px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
}

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 425px) {

// }