.logo {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.logoInfo {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.logoTitle {
    color: rgb(0, 0, 0);
    text-shadow:  5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    font-style: normal;
    margin: 0;
    text-transform: uppercase;
}

.logoTitleText {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

@media screen and (max-width: 550px) {
    .logoInfo {
        width: 240px;
    }
    .logoTitle {
        font-size: 20px;
    }
    .logoTitleText {
        font-size: 12px;
    }
    .logoImg{
        display: none;
    }
}